body {
    background-color:	#B0E0E6;
  }
  h2 {
    position: relative;
    font-style: italic;
    padding: 1rem 2rem 1rem 4em;
    background: #fff;
  }
  
  h2 span {
    position: absolute;
    top: -10px;
    left: 20px;
    display: inline-block;
    width: 52px;
    height: 50px;
    text-align: center;
    background: #fa4141;
  }
  
  h2 span:before,
  h2 span:after {
    position: absolute;
    content: '';
  }
  
  h2 span:before {
    right: -10px;
    width: 0;
    height: 0;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #d90606;
  }
  
  h2 span:after {
    top: 50%;
    left: 0;
    display: block;
    height: 50%;
    border: 1em solid #fa4141;
    border-bottom-width: 15px;
    border-bottom-color: transparent;
  }
  
  h2 span i {
    position: relative;
    z-index: 2;
    color: #fff100;
  }

.image{
    margin-top: 0px;
    display: block;
    margin-left: auto;
    margin-right: auto 
}
#name{
    display:none;
}
#state{
    display: none;
}

.flex-container {
    background-color: #dfdfdf;
    display: flex;
    flex-direction: row;
}

.slider{
    width:500px;
    height:100px;
    display: block;
    margin-left: auto;
    margin-right: auto 
}
.btn{
    width:300px;
    height:80px;
    line-height:100px;
    display: block;
    margin-left: auto;
    margin-right: auto 
}
.btn button{
    display:block;
    width:100%;
    height:100%;
    text-decoration: none;
    background:#668AD8;
    text-align:center;
    color:#FFFFFF;
    font-size:20px;
    font-style:oblique;
    box-shadow:3px 3px 0px 0px #5375BD ;
}
.btn button:hover{
    background:#668AD8;
    color:#FFFFFF;
    margin-left:3px;
    margin-top:3px;
    box-shadow:none;
}


button{
    display: block;
    margin-left: auto;
    margin-right: auto 
}