<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>
    <h2><span><i class="fas fa-star"></i></span>{{name}}のお部屋</h2>
    <div>
        <form method="post"></form>
            <div class=".flex-container">
                <input class="slider" type="range" name="effort" min="0" max="100">
            </div>
            
            <div class='btn'>
                <button >このくらい頑張った!</button>
            </div>
            
        </form>
    </div>
    <div class="parent_picture">

    </div>
    <div id="name">{{name}}</div>
    <div id="state">{{state}}</div>
    <script src="/static/anime-master/lib/anime.min.js"></script>

    <script src="{{url_for('static',filename='main.js')}}"></script>

</body>
</html>
