<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/static/toppage.css">
  </head>
  <body>
      <header>
          <ul>
              <li>
                  <input type="submit" value="Sign up">
             </li>
             <li>
                 <input type="submit" value="Log in">
             </li>
          </ul>
      </header>
      <h1>かえる成長物語</h1>
      <img src="https://3.bp.blogspot.com/-FfN_rSMMuA0/WIW-N0uSvaI/AAAAAAABBSk/iMoHYOceOAMPHKAX5sCORCUMX-oHt_HcgCLcB/s800/gassyou_kaeru1.png">
      <img src="https://2.bp.blogspot.com/-coLT2TgnHHY/WIW-N1qqnzI/AAAAAAABBSo/UyVXn-hFa5IaUvmqIfbSWWyb9fVN8VXawCLcB/s800/gassyou_kaeru2.png">
      <img src="https://2.bp.blogspot.com/-1oDmIedOcwY/WIW-OIoR-1I/AAAAAAABBSs/F8qJdxPUNFgNgxXaYOsF_3vWoaxnXEmpgCLcB/s800/gassyou_kaeru3.png">
      <img src="https://2.bp.blogspot.com/-jD8DVlNNhHo/WIW-Oaq_8RI/AAAAAAABBSw/EgeLD4IqsUgFuqoRoYKpCmUeXEz3PVZWQCLcB/s800/gassyou_kaeru4.png">
  </body>
</html>
